{% extends "index.html" %}

{% load static %}

{% block bloque1 %}


    <div>

        {% for persona in object_list %}          
                
            Nombre: {{persona.nombre}} {{persona.apellido}}
            <br>
            Ciudad: {{persona.ciudad}}
            <br>
            Provincia: {{persona.provincia}}
            <br>
            Pais: {{persona.pais}}
            <br>
            Descripción: {{persona.descripcion}}
            
        {% endfor %}

    </div>

        
    
{% endblock bloque1 %}