{% extends "index.html" %}

{% load static %}

{% block bloque1 %}

    <div class="table-responsive">
        <h3>Listado de ejercicios</h3>
        <table class="table table-striped table-sm">
            {% for ejercicio in object_list %}   
                <tr> 
                    <td>
                        <a href="{% url 'Ver_ejercicio_detalle' ejercicio.id %}">
                            {{ejercicio.nombre_ejercicio}}
                        </a>
                    </td>

                    
                    {% if user.is_staff %}
                        <td>
                            <a class="btn btn-outline-secondary" href="{% url 'Actualizar_ejercicio' ejercicio.id %}" style="margin-left: 5px ;margin-right: 5px">Editar</a>
                            <a class="btn btn-outline-secondary" href="{% url 'Eliminar_ejercicio' ejercicio.id %}" style="margin-left: 5px">Eliminar</a>
                        </td> 
                    {% endif %}
                        
                       
                </tr>
            {% endfor %}
        </table>
    </div>    
        

{% endblock bloque1 %}