{% extends "index.html" %}

{% load static %}

{% block bloque1 %}

    <div class="album py-5" style="background-color:#ffffff"> 
        <div style="margin-left: 50px;">

            <p>Nombre de la receta: <i>{{receta.nombre_receta}}</i></p>
            <p>Ingredientes:</p>
            <ul><i>{{receta.ingrediente_1}} {{receta.cantidad_ingr_1}}</i></ul>
            <ul><i>{{receta.ingrediente_2}} {{receta.cantidad_ingr_2}}</i></ul>
            <ul><i>{{receta.ingrediente_3}} {{receta.cantidad_ingr_3}}</i></ul>
            <p>Descripcion de la receta:</p>
            <ul><i>{{receta.paso_a_paso}}</i></ul>

            <p>
                <a href="{% url 'Receta' %}">Regresar</a>
            </p>

        </div>
    </div>
        
    
{% endblock bloque1 %}

